:root {
  --main-bg-color: #eeffff;
  --primary: #009999;
  --text: #003333;
  --secondary: #00cccc;
  --normal_words: 17px;
  --secondary_words: 15px;
}

body{
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--main-bg-color);
  color: var(--text);
}

h4, h5, h6{
  padding: 0;
  margin:0;
  margin-bottom: 0.3em;
  font-family: Oswald;
}

h4{
  font-size: 35px;
}

h5{
  font-size: 30px;
}

h6{
  font-size: 20px;
}


p, li{
  font-size: var(--normal_words);
  font-family: "Source Code Pro";
  text-align: justify;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4em;
}

ul{
  padding: 0 !important;
}

li{
  list-style-type: none;
}

span{
  font-weight: bold;
}

a{
  color:inherit;
}

a:hover{
  opacity: 0.8;
  text-decoration: none;
  font-size: var(--normal_words);
  background-color: var(--primary);
}

.contact_element a:hover{
  background-color: var(--main-bg-color);
  color: var(--primary);
}

.container{
  display: flex;
  flex-direction: column;
  padding-top: 1.2em;
  padding-left: 5em;
  padding-right: 5em;
  justify-content: center;
}

.heading{
  padding-right: 2em;
}
.heavy_bg{
  background-color: var(--primary);
  color: var(--main-bg-color);
}

.content{
  margin-bottom: 0.3em;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notes{
  margin-left: 1em;
  margin-right: 2em;
  width: 85%;
}

.image{
  margin-right: 1em;
  margin-left: 1em;
  vertical-align: middle;
  width: 5em;
}

.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 0.5em;
}

.contact_element
{
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.secondary{
  font-size: 15px;
  align-self: center;
  margin-bottom: 1em;
  color: var(--secondary);
}

.frame_block{
  display:flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.row_block{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.col_block{
  margin-left: 1em;
  margin-right: 1em;
  width: 45%
}

.close_to_buttom{
  margin-block-end: 0.2em !important;
  margin-close_to_buttom: 0.2em !important;
}

.invisible{
  display: none;
}

#links p, .link span{
  align-text: left;
  font-size: var(--secondary_words);
}

#links a{
  text-decoration: none;
}
